

.compact-card {
    background:rgba(229, 94, 236, 0.9);
    box-shadow:0px 10px 20px 0px #FDC0C7;
    display:flex;
    flex:1;
    height: 10rem!important;
    border-radius:0.7rem;
    color:white;
    position:relative;
    cursor:pointer;
    padding:1rem;
}

.compact-card:hover {
    box-shadow:none;
}

.radial-bar {
    display:flex;
    flex:1;
    flex-direction: column;
    justify-content:flex-end;
    gap:1rem;
}

.CircularProgressbar {
    width:4rem!important;
    overflow:visible;
}

.CircularProgressbar-path {
    stroke:white!important;
    stroke-width:12px!important;
    filter:drop-shadow(2px 4px 6px white)
}

.CircularProgressbar-trail {
    display:none;
}

.CircularProgressbar-text{
    fill:white!important;
}

.radial-bar span {
    font-size:17px;
    font-weight:bold;
}

.detail {
    display:flex;
    flex:1;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.expanded-card {
    background:rgba(229, 94, 236, 0.9);
    box-shadow:0px 10px 20px 0px #FDC0C7;
    position:absolute;
    width:56%;
    height:70vh;
    z-index:56;
    left:7rem;
    border-radius:1rem;
    padding:1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.expanded-close-button {
    align-self: flex-end;
    cursor:pointer;
    color:white;
}

.expanded-card span:nth-of-type(1) {
    color:white;
    font-size:26px;
    font-weight:bold;
    text-shadow:0px 0px 15px 6px white;
}

.chart-container{
    width: 50%;
}

@media screen and (max-width:1200px) {
    .expanded-card {
        top:8rem;
        height: 45vh;
        left:6rem;
        justify-content:flex-start;
    }

    .chart-container {
        width:70%;
        
    }
}