
.my-project-userview-popup-background {
    position:absolute;
    top:0;
    bottom:-70px;
    left:0;
    right:0;
    z-index:89;
    background:rgba(14, 14, 14, 0.416);
    display:flex;
    justify-content:center;
    align-items: center;
    }
    
    .my-project-userview-popup {
        width:80%;
        background: rgb(220, 220, 220);
        height:80%;
        padding: 35px 10px 35px 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size:x-large;   
    }

.grey {
    background: rgb(213, 211, 211);
}

table  {
    background: rgb(213, 211, 211);
}

/* .table {

    --bs-table-bg: red;
} */

.table > thead {
    background-color: blue;
}

thead {
    border-color: inherit;
    border-style: solid;
    border-width: 5;
    background: red;
}